body{
	text-align:center;
}
p,section,h1{
	text-align:left;
}
.menu a{
	display:inline;
	zoom:1;
	text-align:center;
}
*html header{
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='images/header.png',
		sizingMethod='crop'
	);
}