body{
	text-align:center;
}
p,section,h1{
	text-align:left;
}
.menu a{
	display:inline;
	zoom:1;
	text-align:center;
}

*html .img-2{
	background:url(../images/img-2.png) no-repeat;
	-pie-png-fix: true;
     behavior: url(PIE.htc);
	 }